{% extends "includes/base.html.twig" %}
{% block header %}
{% endblock %}

{% block body %}
    {{ include("includes/_breadcrumb.html.twig", {'page': 'iln_reprises'}) }}
    <p>Page à venir, pour le moment voir les reprises par RCR.</p>
{% endblock %}