<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Algoliens web{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">

    <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
            <h1 class="my-0 mr-md-auto font-weight-normal"><a href="{{ url("home") }}">Algoliens web</a></h1>
            <nav class="my-2 my-md-0 mr-md-3">
                {% include "header_settings.html.twig" %}
            </nav>
        </div>
            {% block header %}
            {% endblock %}

            {% for label, messages in app.flashes() %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}
            <!-- {% include 'footer.html.twig' %} -->
        </div>
        {% block javascripts %}
            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}
    </body>
</html>
