<div class="row">
    <div class="col small">
        {% if not app.session.has("winnie") %}
        {% else %}
            Winibw disponible sur mon poste :
            {% if app.session.get("winnie") %}
                <span class="text-success">&#10004; </span>
            {% else %}
                <span class="text-danger">&#10060; </span>
            {% endif %}
            (<a href="{{ url("settings") }}">modifier</a>)
        {% endif %}
    </div>
</div>
