{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-secondary">
        <p>Cet outil se base sur les résultats de l'<a href="http://documentation.abes.fr/sudoc/manuels/controle_bibliographique/algoliens/index.html">algorithme AlgoLiens</a> de l'Abes pour identifier des notices pour lesquelles une possible correction a été identifiée.</p>
        <p>
        L'algorithme de l'Abes propose de récupérer des lots de notices à corriger dans un fichier Excel. Cette interface web propose une autre vue sur ces mêmes données, pour proposer les notices à corriger une à une sans passer par la gestion de fichiers Excel.</p>
        <p>
            Cette interface web a pour objectif de :
            <ul>
            <li>
                rendre transparent les appels au web service de l'Abes;
            </li>
            <li>
                faciliter le travail à plusieurs sur les notices issues d'un même RCR sans avoir à se séparer le travail dans des fichiers Excel.
            </li>
        </ul>

        <strong>Cette application n'est pas interconnectée avec les applications de l'Abes. Elle n'est qu'une interface permettant de voir les résultats d'AlgoLiens de manière <i>user-friendly</i>.</strong>
    </div>
    <div class="text-center">
        <div class='alert'><p><strong>Pour commencer à utiliser l'outil, merci de vous rapprocher de la personne qui coordonne le chantier de correction de notices au sein de votre établissement et pourra vous fournir un lien direct vers le chantier vous concernant.</strong></p></div>
    </div>
{% endblock %}