{% extends "includes/base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>Configuration</h1>
            <p class="alert alert-secondary">Si Winibw n'est pas installé sur votre poste pas de soucis, l'outil ne vous proposera que des notices dont toutes les erreurs peuvent être corrigées via Paprika.</p>
            {{ form(form) }}

        </div>
    </div>
{% endblock %}